body{
    background-color: blueviolet;
    color: black;
    } 
    
 section{
background-color: aqua;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
.chamada-texto{
    
}






 }
 