body{
    background-color: blueviolet;
    color: black;
    } 
    
 section{
background-color: aqua;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;
.chamada-texto{
    margin-right: 40px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
 }